@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
}

:root{
    --mainColor: #FF4141;
    --mainColor2: #F3F3F3;
    --color2: #d4d4d4;
    --BgColor: #ffffff;
    --textColor: black;
}

.darkMode{
  color: #f1f1f1;
  --mainColor2: #1E1E1E;
  --BgColor: #121212;
  --textColor: #F5F5F5;
}

body{
    background-color: var(--BgColor);
}

.container{
    max-width: 1440px;
    margin: 0 auto;
}

header{
    
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 0;
}

header .logo{
    display: flex;
    gap: 0.3em;
    align-items: center;
}

header .logo .icon{
    width: 2em;
    height: 2em;
    background-color: var(--mainColor);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3em;
}

header .logo .icon img{
    width: 70%;
}

header .logo h2{
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 800;
}

header .rightSide{
    display: flex;
    align-items: center;
    gap: 1em;
}

header .rightSide nav{
    display: flex;
    align-items: top;
    gap: 1.5em;
}

header .rightSide nav a{
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    font-size: 1.2em;
    font-weight: 400;
}

header .rightSide nav a:first-of-type{
    border-bottom: 1.5px solid var(--mainColor);
}

header .rightSide .changeTheme{
    width: 1.5em;
    height: 1.5em;
    background-color: var(--mainColor2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3em;
}

header .rightSide .changeTheme img{
    width: 60%;
}

main{
    height: 700px;
    background-color: var(--mainColor2);
    overflow: hidden;
}

main .container{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 0 20em;
}

main .container img{
    /* padding-top: 2em; */
    position: absolute;
}

main .mainText{
    z-index: 2;
    max-width: 20em;
    margin: 15em 0;
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: flex-end;
}

main .mainText h1{
    color: var(--mainColor);
    font-weight: 900;
    font-size: 2.5em;
}

main .mainText button{
    width: fit-content;
    padding: 1em 2em;
    background-color: var(--mainColor);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1em;
    margin-top: 1em;
}

main .mainText button:hover{
    outline: 1px solid black;
}

footer .container{
    padding-top: 4em;
}

footer .container .top{
    display: flex;
    justify-content: space-between;
}

footer .container .top .left{
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: space-between;
}

footer .container .top .left .footerIcon{
    background-color: var(--mainColor2);
    display: flex;
    width: 1.5em;
    height: 1.5em;
    align-items: center;
    justify-content: center;
    padding: 0.4em;
    border-radius: 100%;
}

footer .container .top .left .footerIcon svg{
    color: var(--textColor);
}

footer .container .top .left .info{
    display: flex;
    gap: 0.5em;
    align-items: center;
}

footer .container .top .right{
    max-width: 35em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
}

footer .container .top .right .about{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

footer .container .top .right .socilMedia{
    display: flex;
    gap: 0.5em;
}

footer .container .top .right .socilMedia a{
    
}

footer .container .top .right .socilMedia svg{
    width: 3em;
    height: 3em;
    color: var(--textColor);
}

footer .container .bottom{
    text-align: center;
    margin-top: 4em;
    margin-bottom: 2em;
}
